body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-form {
  width: 320px;
  height: 420px;
  background: #fff;
  color: #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border: 2px dashed orange;
  z-index: 1;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 110px;
  z-index: 2;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}

.login-form p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  margin-bottom: 20px;
}

.login-form input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
}

.login-form button {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  width: 100%;
}

.login-form button:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.login-form a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: darkgrey;
}

.login-form a:hover {
  color: #ffc107;
}